div{
    text-align:center;
    border-top: 2px solid teal;
    position: fixed;
    left: 0px;
    right:0px;
    bottom:0px;
    height:40px;
    padding-top:10px;
    background-color: black;
    color:white;
    
}