<div>
    <div *ngIf="books.length">
        <h2 foreground="red" >Our Recommended Books</h2>
       
        <p class="bordered">
            <input type="checkbox"  

                [(ngModel)]='showImages'

            /> Show Images

        </p>
    
        <table class="table table-striped  dable-responsive table-hover">
            <thead >
                <tr>
                    <th *ngIf="true">
                        {{"Cover"|uppercase}}

                        <app-range 
                                    [(value)]="imageHeight" 
                                    
                                    [min]="80"
                                    [max]="220"
                                    [delta]="5"
                                    
                        
                        />


                    </th>
                    <th>TITLE</th>
                    <th>AUTHOR</th>
                    <th>RATING</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <td *ngIf="true">
                        <img     
                                
                                [showIf]="showImages"

                                src={{book.cover}} 

                                [style.height.px]='imageHeight'

                                />
                </td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>
                        <star-rating [rating]="book.rating" />
                    </td>
                    <td>
                        <button (click)="bookSelect.emit(book.id)" class="btn btn-sm btn-primary">Details</button>
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    
    <div *ngIf="!books.length">
        <h2>No Books Yet!!!</h2>
        <p>Oh!!! We are still building our database!</p>
        <p>Why don't you add a few books here</p>
    </div>

</div>