<div>
    <app-header 
        title={{title}}

        [slogan]='subTitle'

        [(selection)]="screen"
        
    />
    <div class="app-container" [ngSwitch]="screen">

        <book-add *ngSwitchCase="'book-add'"></book-add>

        <book-list *ngSwitchCase="'book-list'"
                    (bookSelect)="handleBookSelect($event)"
                ></book-list>

        <book-details-screen 
                *ngSwitchCase="'book-details'"
                [selectedBookId]="selectedBookId"
                ></book-details-screen>
    </div>
    <app-footer/>
</div>