<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{title}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li (click)="onLinkClick('book-list')" class="nav-item"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    <a class="nav-link" [class.active]="selection==='book-list'" aria-current="page" href="#">
                        <i class="fa-solid fa-book"></i>Books</a>
                </li>
                <li (click)="onLinkClick('book-add')" class="nav-item"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    <a class="nav-link"  [class.active]="selection==='book-add'" href="#">
                        <i class="fa-solid fa-book-medical"></i>
                        Add Book</a>
                </li>
                <li class="nav-item"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    <a class="nav-link" aria-current="page" href="#">
                        <i class="fa-solid fa-user-group"></i> Authors</a>
                </li>
                <li class="nav-item"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    <a class="nav-link" href="#"><i class="fa-solid fa-user-plus"></i>Add Author</a>
                </li>
                
               
                <li class="nav-item">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>

            </ul>

            <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Members
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-to-bracket"></i>Login</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user-plus"></i>Register</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>